In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy.integrate import odeint

In [10]:
ab_df = pd.read_csv('../data/data1/antibodies_rate.csv')
patients = ab_df.patient

  patient       IgM       IgG   IgM+IgG
0  CHID46  0.261554  0.241568  0.503122
1  CHID77  0.317600  0.066923  0.362000
2  CHID79  0.154923  0.064222  0.190846
3  CHID32  0.224462  0.097577  0.322038
4  CHID40  0.117885  0.229596  0.347481
5  CHID08  0.093962  0.113101  0.197189

In [16]:
paper_df = pd.read_csv('../MATLAB/new_work/paper.csv') 
paper_df.set_index(patients)

                J            b0            bi      k    dlt      p      d  tau
patient
CHID46   0.007939  4.090000e-07  2.330000e-07  0.249  0.775  14500  0.030    7
CHID77   0.034145  4.310000e-07  1.400000e-07  0.077  0.420  10000  0.021   24
CHID79   0.069409  2.010000e-07  1.000000e-09  0.013  1.048  30172  0.036   10
CHID32   0.132863  9.203000e-06  1.100000e-08  0.013  0.851    548  0.055   12
CHID40   0.021583  4.850000e-07  2.910000e-07  0.096  0.803  11425  0.033    5
CHID08   0.125623  5.700000e-08  4.000000e-09  0.021  0.821  89892  0.003   22

In [15]:
mat_df = pd.read_csv('../MATLAB/new_work/fminsearch.csv') 
mat_df.set_index(patients)

,J,b0,bi,k,dlt,p,d,tau
patient,,,,,,,,
CHID46,0.004647,3.449684e-07,1.582077e-07,1.486030,1.226564,29104.011878,0.036181,3.841178
CHID77,0.022019,6.295549e-07,1.763435e-07,0.042013,0.402835,7235.925259,0.019252,5.705019
CHID79,0.058047,1.979630e-07,1.113992e-09,0.013120,1.005973,30559.492071,0.035154,9.215999
CHID32,0.073410,1.805462e-05,1.648838e-08,0.021517,0.594726,291.686385,0.070415,0.253635
CHID40,0.013752,5.523412e-07,3.049384e-07,0.170156,0.880249,12742.194562,0.030688,1.022693
CHID08,0.034029,2.804372e-08,3.869964e-09,0.035013,1.348604,234920.733812,0.019065,14.055629

In [7]:
k = pd.read_csv('../MATLAB/new_work/k.csv') 
k

          k
0  1.486030
1  0.042013
2  0.013120
3  0.021517
4  0.170156
5  0.035013