In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('../MATLAB/best_params_mat.csv') 
df

          beta0    beta_infty         k       dlt             p         d  tau
0  2.018233e-07  1.274636e-07  0.379388  1.530850  40960.817850  0.039217    6
1  2.371334e-07  1.303777e-07  0.428122  1.786818  39438.314695  0.020316    6
2  1.058092e-07  3.966047e-08  0.022670  1.657794  73751.184901  0.049787    6
3  2.107250e-07  2.107251e-07 -0.350348  3.192411  50043.510569  0.049119    6
4  2.321609e-07  1.610171e-07  0.568916  1.816029  37744.296596  0.038619    6
5  6.450475e-08  6.123034e-08  4.764889  0.386021  68519.576324 -0.031837    6

In [9]:
df = pd.read_csv('../MATLAB/best_params_bm.csv') 
df

,beta0,beta_infty,k,dlt,p,d,tau
0,2.020900e-07,1.271900e-07,0.41184,1.52453,41085.62299,3.901000e-02,6
1,4.120500e-07,9.962300e-08,0.03291,0.51576,11563.55961,2.501000e-02,6
2,2.030100e-07,8.458800e-16,0.01320,0.97946,29382.88451,3.439000e-02,10
3,1.195100e-06,9.226200e-07,0.43713,4.15686,10980.08977,1.025400e-01,13
4,2.966300e-07,2.019800e-07,0.18906,1.34474,23745.98087,3.773000e-02,6
5,2.037500e-08,1.030200e-07,0.11010,5.23275,781644.29827,3.991100e-17,21